<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('public/css/materialize.min.css')}}">

<h1>{{datos.nomzona}}</h1>
<ul>
    <li>{{datos.nomzona}}= id={{datos.idzona}} </li>
<a href="{{asset('zona')}}">volver atras </a>



</ul>

