<!Doctype html>

<html>
  <head>
    <title>Registro </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('public/css/materialize.min.css')}}">


  </head>
  <body>
    <div ><!--ajusta el contenido del la pagina -->
     <div class="row">
    <nav class="grey darken-2" >
    <div class="nav-wrapper ">
     <a href="#" class="brand-logo"><img src="{{ asset('public/Img/imagen2.jpg')}}" width="65" height="65" class="responsive-img circle"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <a href="#" class="brand-logo center" >Cita Medica por internet</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
 
      <li> Usuario:<span class="label">{{app.session.get('nombre')}}</span></li>
      <li><a href="{{path('salir')}}">Cerrar Seccion</a></li>
      <li><a href="{{path('formulario')}}">Formularios</a></li><!--en este se listaran todos lso form para ser editados-->
       <li><a href="collapsible.html"></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="Control.html.twig">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    
     
     </div>
    <div class="nav-content">
     
    </div>
  </nav>
<div class="container center">
   <div align="center">
                  
              <div class="row">
              <div class="input-field col s6" >
             
             </div>
              
             <div class="input-field col s6" id="Contraseña" >
             <input type="text" id="Nozona" name="Nozona" class="form-control">
             <label for="No Zona">Numero Zona</label>
             </div>
             <div class="input-field col s6" >
             
             </div>
             <div class="input-field col s6" >
              <input type="text" id="zona" class="form-control" name="NomZona" >
             <label for="NomZona">Nombre de la Zona</label>

             </div>
          </div>
   <div class="row"><!--boton -->
              <div class="input-field col s6" >
              </div>
              <div class="input-field col s6" >
              <button class="btn waves-effect waves-light form-control" type="button" name="action" aling="Cen" id="Agregar" value="Agregar" >Agregar 
              <i class="material-icons assignment_ind">assignment_ind</i>
              </button>
              <button class="btn waves-effect waves-light form-control" type="button" name="action" aling="Cen" id="Borrar" value="Borrar" >Borrar <a href="{{asset('zona/add')}}/{dato.id}"></a>
              <i class="material-icons assignment_ind">assignment_ind</i>
              </button>
               <button class="btn waves-effect waves-light form-control"  type="button" name="action" aling="Cen" id="Buscar" value="Buscar">Buscar 
              <i class="material-icons assignment_ind">assignment_ind</i>
              </button>
              </div>
             
          </div>

    </form>
  </div>
  
      </div>   
      </div><!--Cierra el row-->
   </body>
    </html> 
    <script>
      //aqui va el codigo del ajax 
       $(document).ready(function () {
       $("input[type=button]").click(function () {
        var btn = $(this).val();
           if($("#Nozona").val() == "" ) alert("Nombre de Medico es requerido.");
           else if($("#NomZona").val() == "") alert("Contraseña es requerida.");
           else {
            alert($(".form-control").serialize());
               $.ajax({
                   url:"{{ path('index') }}",
                   type: 'POST',
                   data: $(".form-control").serialize(),
                   success:function(respuesta){
                    alert(respuesta);
                       if($.trim(respuesta) == 1){
                            document.location.href = "{{ path('index') }}";
                       }
                   },
               });
           }
       });
    });

    </script>
    
    <!--Se adjuntan los archivos JS-->
    <script type="application/javascript" src="{{ asset('public/js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('public/js/materialize.min.js') }}"></script>